* {
  margin: 0;
  padding: 0;
  color: #f5f7f7;
}

html {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial;
}

body {
  background: #202525;
}

.main-container {
  display: flex;
  width: 100%;
  min-height: auto;
  height: 100%;
  position: absolute;
  flex-flow: column;

  .content-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin: 50px;
  }

  .overview-container {
    @extend .content-container;
    margin: 50px 20%;
    flex-direction: column;
    text-align: justify;
    h3 {
      font-size: 3em;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.37px;
      margin-bottom: 50px;
      text-align: left;
      color: #f5f7f7;
    }

    p {
      font-size: 1.2em;
      padding-bottom: 15px;
    }
  }

  .navbar-container {
    margin: 0px 50px;
  }
}

div.tooltip {
  position: absolute;
  margin: 20px;
  padding: 5px;
  font: 12px sans-serif;
  color: #89A19D;
  border: 1px solid #89A19D;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  background-color: #272d2e;
}
