.navbar {
  flex: 100;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 16px 0;

  .navbar-logo {
    & img {
      width: 70px;
      height: 70px;
    }
  }

  .navbar-links {
    color: #b8b9b9;
    display: flex;
    align-items: center;

    & a {
      text-decoration: none;
      color: unset;
      padding: 12px;
      &.active {
        text-decoration: underline;
      }

    }

    & a:hover {
      color: #e1e7e6;
    }
  }
}
